
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/screenshots/
/downloads/
/allure-results/
/allure-report/
/tests/vi
tests/visualTesting.spec.ts-snapshots/
